:root {
  --font-size: 12px;
  --text-color: #5a6a72;
  --title-color: #29363d;
  --shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  --margin: 16px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

section {
  width: 288px;
  box-shadow: var(--shadow);
  border-radius: 8px;
  margin: var(--margin);
  font-family: "Pretendard";
  float: left;
}

header {
  padding: var(--margin);
  margin-bottom: 12px;
}

.profile {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 50%;
  margin-right: var(--margin);
}

.title1,
.title2,
.user-id {
  color: var(--title-color);
  align-items: center;
}

.title1,
.title2 {
  font-weight: 700;
}

.user-id {
  font-size: var(--font-size);
  color: var(--text-color);
}

main {
  clear: both;
}

.card-img-wrap {
  height: 169px;
}

.card1-img,
.card2-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: inherit;
}

.card-content {
  color: var(--text-color);
  font-size: var(--font-size);
  margin: var(--margin);
}

/* 하단 버튼 */

.btns {
  margin: var(--margin);
  /* border: solid 1px red; */
}

.btns div {
  float: right;
}

button {
  width: 70px;
  font-size: 14px;
  padding-left: 0;
  text-decoration: underline;
  /* border: solid 1px red; */
  float: left;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

button span {
  float: right;
}

/* 두번째 카드 */
.card2 {
  float: top;
}

.card2-img-wrap {
  height: 50%;
}

.card2-img {
  height: 200px;
  border-radius: 8px 8px 0 0;
}

.card2-text-wrap {
  float: bottom;
  margin: var(--margin);
}

.card2-text-wrap .card-content {
  margin: var(--margin) 0;
}

.card2-text-wrap button {
  padding: 0;
  float: bottom;
}
